<div class="welcome">
        <br>    
    <h1> Welcome! </h1>
        <br>        
    <p>This site is designed to Scrape Articles from <a href="https://www.w3.org/blog" target="_blank">w3.org/blog/.</a> Once the scrape is complete you will be redirected to the Articles page. From the Articles page you select your favorite articles, and add notes which save directly to MongoDB. Landing on the home page clears all but favorites Articles.</p>
</div>