<div class="welcome">
        <br>    
    <h1> Welcome! </h1>
        <br>        
    <p>This site is designed to Scrape Articles from <a src="www.w3.org/blog">www.w3.org/blog/</a> once the scrape is complete you will be redirected to the Articles page. From the Articles page you favorite articles with notes which save to MongoDB.</p>
</div>